[Unit]
Description=Prometheus Ceph Exporter Service
After=network.target

[Service]
ExecStart=/usr/bin/ceph_exporter 
User=root
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
