[Unit]
Description=Prometheus Node Exporter Service
After=network.target

[Service]
ExecStart=/usr/bin/node_exporter --no-collector.zfs --no-collector.arp --no-collector.bcache --no-collector.conntrack --no-collector.edac --no-collector.entropy --no-collector.ipvs --no-collector.textfile --no-collector.mdadm --no-collector.infiniband --no-collector.wifi --no-collector.timex --no-collector.xfs --no-collector.hwmon
User=prometheus

[Install]
WantedBy=multi-user.target
